*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins', sans-serif;
    background:linear-gradient(to bottom,#e0f7ff,#f5fbff);
    color:#033b5b;
}



header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:linear-gradient(90deg,#003049,#0077b6);
    color:white;
}

.logo{
    font-family:'Pacifico', cursive;
    font-size:28px;
    letter-spacing:2px;
}

nav a{
    text-decoration:none;
    color:white;
    margin-left:25px;
    font-weight:500;
    position:relative;
}

nav a::after{
    content:"";
    width:0%;
    height:2px;
    background:#00e0ff;
    position:absolute;
    left:0;
    bottom:-5px;
    transition:0.3s;
}

nav a:hover::after,
nav .active::after{
    width:100%;
}



.hero{
    height:90vh;
    background:url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e") center/cover no-repeat;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    color:white;
    position:relative;
}

.hero::after{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
}

.hero-content{
    position:relative;
    z-index:2;
}

.hero h1{
    font-size:60px;
    font-weight:700;
}

.hero p{
    margin:20px 0;
    font-size:18px;
}

.hero button{
    padding:14px 35px;
    border:none;
    background:#00b4d8;
    color:white;
    font-size:16px;
    border-radius:30px;
    cursor:pointer;
    transition:0.3s;
}

.hero button:hover{
    background:#0096c7;
    transform:scale(1.05);
}



.about{
    text-align:center;
    padding:70px 40px;
}

.about h2{
    font-size:30px;
    margin-bottom:20px;
}

.about p{
    max-width:700px;
    margin:auto;
    font-size:18px;
}



.courses{
    padding:60px 40px;
    text-align:center;
}

.courses h2{
    margin-bottom:40px;
    font-size:30px;
}

.course-container{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}

.card{
    width:28%;
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
    transition:0.3s;
    margin-bottom:30px;
}

.card:hover{
    transform:translateY(-10px);
}

.card h3{
    padding:15px;
    background:#caf0f8;
}

.card img{
    width:100%;
    height:250px;
    object-fit:cover;
}



footer{
    background:#003049;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}